<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="icon" href="coder.ico">
    <link rel="stylesheet" href="../css/styles_serv.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap" rel="stylesheet">
    
</head>
<body>
<header>
    <nav>
        <a href="../pgweb.html">Inicio</a>
        <a href="nosotros.html">Nosotros</a>
        <a href="servicios.html">Servicio</a>
        <a href="contacto.html">Contactanos</a>
    </nav>
    <section class="textos_header">
        <h1>Te damos las facilidades de manera optima</h1>
        <h2>Contamos con varios servicios para las pag webs mas reconocidas &#128526 </h2>
    </section>
    <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>
</header>
<main>
    <div class="contenedor">
        <div class="servicebox">
            <div class="icon" style="--i:#4eb7ff">
                <ion-icon name="game-controller-outline"></ion-icon>
            </div>
            <div class="content">
                <h2>Juegos</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus itaque exercitationem rem pariatur?</p>
            </div>
        </div>
        <div class="servicebox">
            <div class="icon" style="--i:#fd6494">
                <ion-icon name="logo-html5"></ion-icon>
            </div>
            <div class="content">
                <h2>HTML</h2>
                <p>Lorem ipsum dolor, est ipsam voluptatibus recusandae culpa quaerat, quos quia! Quas animi facilis ducimus maxime?</p>
            </div>
        </div>
        <div class="servicebox">
            <div class="icon" style="--i:#430f90">
                <ion-icon name="logo-css3"></ion-icon>
            </div>
            <div class="content">
                <h2>CSS</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.Temporibus, ratione.</p>
            </div>
        </div>
        <div class="servicebox">
            <div class="icon" style="--i:#0000ff">
                <ion-icon name="logo-discord"></ion-icon>
            </div>
            <div class="content">
                <h2>Discord</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, hic ducimus ex tenetur in adipisci repudiandae necessitatibus sed provident.</p>
            </div>
        </div>
        <div class="servicebox">
            <div class="icon" style="--i:#cd57ff">
                <ion-icon name="logo-twitch"></ion-icon>
            </div>
            <div class="content">
                <h2>Twitch</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam. Accusamus animi in cum mollitia commodi! Repudiandae, tenetur inventore!</p>
            </div>
        </div>
        <div class="servicebox">
            <div class="icon" style="--i:#37ba82">
                <ion-icon name="logo-whatsapp"></ion-icon>
            </div>
            <div class="content">
                <h2>Whatsapp</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis nihil quos magnam, repellendus incidunt eligendi repellat laboriosam veniam ea quo!</p>
            </div>
        </div>
    </div>
    </section>
</main>
<footer>
    <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
        <div class="wave" id="wave4"></div>
    </div>
    <ul class="social_icon">
        <li><a href="https://www.facebook.com"><ion-icon name="logo-facebook"></ion-icon></a></li>
        <li><a href="https://www.linkedin.com"><ion-icon name="logo-linkedin"></ion-icon></a></li>
        <li><a href="https://web.whatsapp.com"><ion-icon name="logo-whatsapp"></ion-icon></a></li>
        <li><a href="https://www.instagram.com/?hl=es"><ion-icon name="logo-instagram"></ion-icon></a></li>
    </ul>
    <ul class="menu">
        <li><a href="../pgweb.html">Inicio</a></li>
        <li><a href="nosotros.html">Nosotros</a></li>
        <li><a href="servicios.html">Servicios</a></li>
        <li><a href="contacto.html">Contactos</a></li>
    </ul>
    <p>Copyright ©2022 Luis Qc | Todos los derechos reservados</p> 
</footer>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>